﻿*{
    margin: 0;
    padding: 0;
    font-family:'Courier New';
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #333;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    background: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 3%,#bfbfbf 42%,#bfbfbf 42%,#a3a3a3 69%,#a3a3a3 70%,#848484 98%,#4f4f4f 100%);
    padding: 30px;
    border: solid 1px #ddd;
    border-radius: 12px;
}

table{
    border-radius: 12px;
    background: #888;
}

table td,
table th{
    background: #bbb;
    padding: 4px;
    margin: 10px;
}

table tr:first-child td:first-child,
table tr:first-child th:first-child{
    border-radius: 10px 0 0 0;
}

table tr:first-child td:last-child,
table tr:first-child th:last-child{
    border-radius: 0 10px 0 0;
}

table tr:last-child td:first-child{
    border-radius: 0 0 0 10px;
}

table tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
}

.button{
    color:#ccc;
    text-decoration:none;
    display:inline-block;
    padding:8px;
    margin:10px 0;
    border-radius:4px;
    border:solid 1px #333;
    background:linear-gradient(to bottom, #4f4f4f 0%,#777777 50%,#191919 100%);
    position:relative;
    left:50%;
    transform:translateX(-50%);
    font-size:10pt;
}

.button:hover {
    box-shadow:#222 1px 1px 8px;
}

textarea{
    border-radius:12px;
    padding:4px;
    height:120px;
    width:320px;
}

select{
    border-radius:4px;
    padding:2px;
}

input{
    border-radius:4px;
    padding:2px;
    border: solid 1px #aaa;
}

p{
    margin: 4px;
}

.center{
    text-align:center;
}