﻿@using Library.Models
@model Book

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>View</title>
</head>
<body>
    <div class="container">
        <table class="table">
            <tr>
                <th>
                    <p>Название</p>
                </th>
                <th>
                    <p>Автор</p>
                </th>
                <th>
                    <p>Жанр</p>
                </th>
                <th>
                    <p>Описание</p>
                </th>
                <th>
                    <p>Издатель</p>
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(m => m.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Genre.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Publisher.Name)
                </td>
            </tr>
        </table>
        @if (Session["UserName"] != null)
        {
            if (Model.StatusId == 3)
            {
                <p class="center">Книга свободна</p>
                if (Convert.ToInt16(Session["UserBand"]) == 1)
                {
                    <p><a class="button" href="/Home/Armor/@Model.Id">Забронировать</a></p>
                }
            }
            else if (Model.StatusId == 1)
            {
                <p class="center">Книга забронированна @ViewBag.User.Name</p>
                    if (Convert.ToInt16(Session["UserBand"]) == 2)
                    {
                    <p><a class="button" href="/Home/Give/@Model.Id">Выдать</a></p>
                    }
                }
                else
                {
                <p class="center">Книга на руках @ViewBag.User.Name</p>
                    if (Convert.ToInt16(Session["UserBand"]) == 2)
                    {
                    <p><a class="button" href="/Home/Get/@Model.Id">Принять</a></p>
                    }
                }
            if (Convert.ToInt16(Session["UserBand"]) == 2)
            {
                <p><a class="button" href="/Home/EditBook/@Model.Id">Редактировать</a></p>
                <p><a class="button" href="/Home/Delete/@Model.Id">Удалить</a></p>
            }
        }
        <p><a class="button" href="/Home/Index">Отмена</a></p>
    </div>
</body>
</html>
