﻿@using Library.Models
@model Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Create</title>
</head>
<body>
    <div class="container"> 
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name, "Название")
            <br />
            @Html.EditorFor(model => model.Name)
            <br /><br />
            @Html.LabelFor(model => model.Author.Name, "Автор")
            <br />
            @Html.DropDownList("AuthorId", ViewBag.Authors as SelectList)<p><a class="button" href="/Home/CreateAuthor">Новый автор</a></p>
            <br /><br />
            @Html.LabelFor(model => model.Genre.Name, "Жанр")
            <br />
            @Html.DropDownList("GenreId", ViewBag.Genres as SelectList)<p><a class="button" href="/Home/CreateGenre">Новый жанр</a></p>
            <br /><br />
            @Html.LabelFor(model => model.Description, "Описание")
            <br />
            @Html.TextArea("Description")
            <br /><br />
            @Html.LabelFor(model => model.Publisher.Name, "Издатель")
            <br />
            @Html.DropDownList("PublisherId", ViewBag.Publishers as SelectList)<p><a class="button" href="/Home/CreatePublisher">Новый издатель</a></p>
            <br /><br />
            <input class="button" type="submit" value="Сохранить" />
            <p><a class="button" href="/Home/Index">Отмена</a></p>
        }
    </div>
</body>
</html>
