﻿@using Library.Models
@model Genre
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>CreateAuthor</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name, "Название")
            <br />
            @Html.EditorFor(model => model.Name)
            <br /><br />
            <input class="button" type="submit" value="Добавить" /><p><a class="button" href="/Home/Create">Отмена</a></p>
        }
    </div>
</body>
</html>
