﻿@using Library.Models
@model Book
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>View</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Id)
            @Html.LabelFor(m => m.Name, "Название")
            <br />
            @Html.EditorFor(m => m.Name)
            <br /><br />
            @Html.LabelFor(model => model.Author.Name, "Автор")
            <br />
            @Html.DropDownList("AuthorId", ViewBag.Authors as SelectList)
            <br /><br />
            <p><a class="button" href="/Home/CreateAuthor">Новый автор</a></p>
            @Html.LabelFor(model => model.Genre.Name, "Жанр")
            <br />
            @Html.DropDownList("GenreId", ViewBag.Genres as SelectList)
            <p><a class="button" href="/Home/CreateGenre">Новый жанр</a></p>
            <br /><br />
            @Html.LabelFor(model => model.Description, "Описание")
            <br />
            @Html.TextArea("Description")
            <br />
            @Html.LabelFor(model => model.Publisher.Name, "Издатель")
            <br />
            @Html.DropDownList("PublisherId", ViewBag.Publishers as SelectList)
            <p><a class="button" href="/Home/CreatePublisher">Новый издатель</a></p>
            <br /><br />
            <p><input class="button" type="submit" value="Сохранить" /></p>
            <p><a class="button" href="/Home/BookPage/@Model.Id">Отмена</a></p>
        }
    </div>
</body>
</html>