﻿@using Library.Models
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <title>Create</title>
</head>
<body>
    <div class="container"> 
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Name, "Логин")
            <br />
            @Html.EditorFor(model => model.Name)
            <br /><br />
            @Html.LabelFor(model => model.Password, "Пароль")
            <br />
            @Html.PasswordFor(model => model.Password)
            <br /><br />
            <input class="button" type="submit" value="Сохранить" />
            <p><a class="button" href="/Home/Login">Отмена</a></p>
        }
    </div>
</body>
</html>
